body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js{
  height: 100%;
  background-color: rgb(79, 80, 78);
}
h1{
  color: rgb(182, 164, 164);
  position: absolute;
  top: 60px;
  left: 50px;
}
h3{
  color: rgb(195, 185, 185);
  position: absolute;
  top: 100px;
  left: 50px;
}